
.cg-coupon-tabs ul{
	display: flex;
	text-align: center;
	font-size: .24rem;
	color: #999999;
	border-bottom: 1px solid #ececec;
	position: relative;
}
.cg-coupon-tabs .blk{
	content: '';
	position: absolute;
	left: 15%;
	bottom:-1px;
	background: #fe1b5e;
	display: block;
	width: .3rem;
	height: .03rem;
}
.cg-coupon-tabs ul li{
	flex: 1;
	height: .8rem;
	line-height: .8rem;
}
.tab-current{
	color: #fe1b5e;
}
.goods-wrapper-item{
	font-size: .24rem;
	border-bottom: .2rem solid #f5f5f5;
}

.goods-wrapper-item-title{
	padding: 0 .36rem;
	display: flex;
	align-items: center;
	height: .8rem;
	justify-content: space-between;
}
.goods-wrapper-item-title-left{
	display: flex;
	align-items: center;
}
.goods-wrapper-item-title-left h1{
	font-weight: 400;
}
.goods-wrapper-item-title img{
	width: .33rem;
	height: .33rem;
	margin-right: .25rem;
}
.goods-wrapper-item-title h1{
	width: 4.5rem;
}
.goods-wrapper-item-bottom{
	padding: 0 .36rem;
}
.goods-wrapper-item-bottom p{
	margin-left: 1.9rem;
	height: .6rem;
	line-height: .6rem;
	border-top:1px solid #e6e6e6;
}
.avatar-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: .1rem .36rem;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height:2rem;
}
.avatar-list-img{
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
}
.avatar-list-img img{
	width: 1.7rem;
	height: 1.7rem;
}
.avatar-list-img{
	margin:8px 16px 8px 0;
}
.avatar-list-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	min-height:1.4rem;
	-webkit-box-flex:3;
	-ms-flex:3;
	flex:3;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.avatar-list-info .avatar-list-info-title{
	line-height: normal;
	vertical-align: top;
	/*	font-weight: bold;
    */	font-size: .28rem;
	color: #1a1a1a;
}
.avatar-list-info .avatar-list-info-title .avatar-list-info-gray{
	font-size: .22rem;
	display: block;
	float: right;
	/*	margin-top: 0.1%;
    */}
.avatar-list-info-price{
	height: .45rem;
	line-height: .45rem;
	font-size: .22rem;
}
.avatar-list-info-top .avatar-list-info-gray{

}
.avatar-list-info-bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.avatar-list-info-bottom p:first-child{
	width: 3rem;
}
.goods-wrapper-item-title-distance{
	color: #fe1b5e;
}
.avatar-list-info-gray{
	color: #8b8b8b;
}
.avatar-list-info-bottom-price{
	font-size: .3rem;
	color: #fe1b5e;
}
.avatar-list-info-bottom .avatar-list-info-gray{
	padding-left: 6%;
	text-decoration: line-through;
}
.goods-wrapper-item-bottom .count-down span{
	display: inline-block;
	width: .36rem;
	height: .36rem;
	background: #2c2c2c;
	color: #fff;
	text-align: center;
	line-height: .36rem;
	margin: 0 .05rem;
	font-size: .22rem;
	border-radius: .05rem;
}

.goods-wrapper-item-mark{
	color: #ff0000;
	border: 1px solid #ff0000;
	border-radius: .05rem;
	padding: 0 1%;
	height: .32rem;
	line-height: .32rem;
	text-align: center;
}
.yellow{
	color: #ff7200;
	border-color: #ff7200;
}.green{
	 color: #09cf82;
	 border-color: #09cf82;
 }
.cg-coupon-title{
	color: #333333 !important;
	font-size: .26rem;
	font-weight: bold;
}
.cg-coupon-bottom{
	flex-direction: column;
}
.cg-coupon-bottom-price{
	padding-top: .1rem;
	display: flex;
	justify-content: space-between;
	color: #ff0000;
}
.cg-coupon-bottom-price p:first-child{
	padding-top: .12rem;
}
.cg-coupon-bottom-price .avatar-list-info-bottom-price{
	color: #ff0000;
	font-size: .42rem;

}
.cg-coupon-bottom-price .avatar-list-info-gray{
	text-decoration-line: none !important;
}
.cg-coupon-bottom .cg-coupon-bottom-price .goods-wrapper-item-mark{
	width: 1.5rem;
	height: .6rem;
	background: #fe1b5e;
	border: none;
	border-radius: .05rem;
	font-size: .26rem;
	color:#fff;
	text-align: center;
	line-height: .6rem;
}
.cg-coupon-bottom .cg-coupon-bottom-price .goods-wrapper-item-mark.checked{
	border:1px solid #fe1b5e;
	background: #fff;
	color: #fe1b5e;
}
.cg-coupon-bottom .expiry-date{
	font-size: .22rem;
	color: #999999;
	margin: .1rem 0;
	display: flex;
	justify-content: space-between;
}
.cg-coupon .cg-coupon-title .avatar-list-info-gray{
	font-weight: normal !important;
}
.cg-coupon {
	border-bottom: 1px solid #ececec !important;
}
.goods-erro{
	background: #f5f5f5;
	height: 80%;
	text-align: center;
	color: #666666;
	font-size: .26rem;
	padding-top: 1.4rem;
}
.goods-erro img{
	width: 23%;
	margin: 0 auto .5rem auto;
}
/*模拟的标题*/

/*列表*/
.mescroll{
	position: fixed;
	top: .81rem;
	bottom: 0;
	height: auto;
}
.mescroll-empty{
	background: #f5f5f5;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.mescroll-empty .empty-tip{
	text-align: center;
	color: #666666;
	font-size: .26rem;
}
.mescroll-downwarp .downwarp-tip, .mescroll-upwarp .upwarp-tip, .mescroll-upwarp .upwarp-nodata{
	color: #666666;
	font-size: .26rem;
}
.mescroll-empty .empty-icon{
	display: block;
	height: auto;
	width: 23%;
	margin: 1rem auto .5rem auto;
}
.empty-btn{
	display: none;
}
/*展示上拉加载的数据列表*/
.data-list li{
	position: relative;
	padding: 10px 8px 10px 120px;
	border-bottom: 1px solid #eee;
}
.data-list .pd-img{
	position: absolute;
	left: 18px;
	top: 18px;
	width: 80px;
	height: 80px;
}
.data-list .pd-name{
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}
.data-list .pd-price{
	margin-top: 8px;
	color: red;
}
.data-list .pd-sold{
	font-size: 12px;
	margin-top: 8px;
	color: gray;
}
/*隐藏*/
.hide{display: none;}
